/* MENU */
.dish-layout {
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.dish-layout .dish-card {
  width: 280px;
}
.dish-card > a {
  text-decoration: none;
  color: black;
  cursor: default;
}
.menu-tab {
  display: flex;
  gap: 10px;
}
.btn-menu {
  padding: 16px 36px;
  border-radius: 8px;
  border: 0;
  background: var(--Accent-2);
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
}
.btn-menu:hover {
  box-shadow: 0 0 0 0;
  border: 0;
  color: var(--Accent-1);
}
.btn-menu.selected {
  background: var(--Accent-1);
  color: black;
}
.btn-menu.selected:hover {
  color: white;
}

/* ORDER */
.order-layout {
  display: flex;
  margin-top: 20px;
  gap: 10%;
  padding: 20px;
}
.order-dish {
  width: 50%;
  .card-img {
    border-radius: 16px;
    overflow: hidden;
    height: 50vh;
  }
  .dish-info {
    margin-top: 20px;
  }
}