/* MENU */
.dish-layout {
  margin: 30px 0 50px 0;
  justify-content: flex-start;
}
.dish-layout .dish-card {
  /* width: 280px; */
}
.dish-card > a {
  text-decoration: none;
  color: black;
  cursor: default;
}
.menu-tab {
  gap: 10px;
}
.btn-menu {
  padding: 16px 36px;
  border-radius: 8px;
  border: 0;
  background: var(--Accent-2);
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
}
.btn-menu:hover {
  box-shadow: 0 0 0 0;
  border: 0;
  color: var(--Accent-1);
}
.btn-menu.selected {
  background: var(--Accent-1);
  color: black;
}
.btn-menu.selected:hover {
  color: white;
}

/* ORDER */
.order-layout {
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 100px;
}
.order-dish {
  margin-bottom: 100px;
  .card-img {
    border-radius: 16px;
    overflow: hidden;
    height: 40vh;
  }
  .dish-info {
    margin-top: 20px;
  }
}
.dish-custo {
  margin-top: 50px;
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  td {
    padding: 14px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 18px;
  }
}
.order-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  button {
    padding: 10px 20px;
    font-size: 28px;
    border-radius: 50%;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .qty-num {
    font-size: 24px;
    font-weight: bolder;
  }
}
.order-total {
  margin-top: 50px;
}
.order-total > div {
  margin-top: 10px;
  padding: 12px;
  font-size: 36px;
  text-align: center;
  color: var(--Accent-2);
  border: 2px dashed var(--Accent-2);
  border-radius: 16px;
}
.order-delivery > .btn-yes {
  width: 100%;
  margin-top: 30px;
  a {
    text-decoration: none;
    color: black;
  }
}
.order-summary {
  margin-top: 100px;
  .deli-info, .sum-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .deli-cut {
    display: flex;
    justify-content: space-between;
    gap: 16%;
    input {
      width: 25px;
    }
  }
}
.hr {
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--Accent-2);
}