.page-head {
  display: block;
  width: 100%;
  background-color: var(--Accent-2);
  text-align: center;
  padding: 50px;
}
.page-body {
  padding: 20px 0;
  max-width: 1366px;
  margin: 20px auto;
}
.page-body > h2 {
  margin-bottom: 50px;
}
.form-body {
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  min-height: 60vh;
}
.form-layout {
  gap: 40px 0;
  width: 100%;
}
.column-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-group label {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.form-group input, select {
  padding: 10px;
  width: 100%;
  height: 50px;
  border-radius: 16px;
  border: 2px solid var(--Accent-2);
  font-size: 16px;
}
.details {
  border: 2px solid var(--Accent-2);
  border-radius: 16px;
  padding: 20px 12px;
  position: relative;
}
.details li {
  margin-left: 30px;
  padding: 16px;
  font-size: 18px;
  overflow-wrap: break-word;
}
.edit-icon {
  color: var(--Accent-2);
  font-size: large;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 2%;
  top: 16px;
}

/* Payment */
.deposit {
  margin-bottom: 100px;
}
.pay-img {
  height: 70vh;
}
.pay-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.pay-devider {
  height: 5px;
  background-color: var(--Accent-2);
}
.pay-cost {
  display: flex;
  justify-content: space-between;
}
.deposit-cost p {
  margin-top: 10px;
}
.pay-form .form-group {
  margin-top: 30px;
}

/* Success */
.success-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--Accent-2);
  padding: 0 0 100px 0;
}
.success-page > h1 {
  margin-top: 50px;
}
.success-page p {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}
.congrats-img {
  width: 50vw;
  height: 50vh;
  border-radius: 16px;
  overflow: hidden;
}
.congrats-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.form-body > .btn-yes {
  margin-left: 12px;
}